* {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rouge Script", cursive;
  font-size: 1.3rem;
  background: black;
  color: white;
}

.HogwartsEmblem {
  display: block;
  margin: 0 auto;
  margin-top: 2%;
  max-width: 20%;
}

h1{
  font-size: 2.2rem;
}

h2{
  font-size: 1.5rem;
}

.picture {
  display: block;
  border-radius: 10px;
}

input{
  background: hsl(148deg 0% 13%);
  border-radius: 3px;
}

button {
  margin: 1%;
  border-radius: 5px;
}